.content-center {
    padding: 200px;
}

label {
    color: #a08dc5;
}

small {
    color: #f1eef7;
}

.topping {
    margin-top: 0.3rem;
    vertical-align: text-bottom;
}

.result {
    margin-top: 1rem;
}
